
*.mdb

*.log

*.dll

*.exe

*.hmap

*.xcindexdb

*.xcindexdb-shm

*.xcindexdb-wal

*.strings-cmp

*.strings-dir

*.strings-file

*.strings-res

*.strings-sym

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcsettings

*.xcscheme

*.dat

*.dep

*.d

*.dia

*.o

*.LinkFileList

*.xcactivitylog
